body, td, input {
  font-family: sans-serif,verdana,arial,helvetica;
  font-size: 12px;
}

h1 {
   width: 615px;
   border-style: solid;
   border-width: 3px;
   border-color: #000;
   background-color: #FFF;
}

.proveidor {
  font-size: 16px;
}

.cela_nom {
  width: 400px;
  padding: 5px 1px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  color: #222222;
  background-color: #EEEEEE;
  text-align: left;
}

.cela_preu {
  width: 50px;
  padding: 5px 1px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  color: #222222;
  background-color: #EEEEEE;
  text-align: right;
}

.cela_generica {
  padding: 5px 1px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  color: #222222;
  background-color: #EEEEEE;
}


.cela_preu_input {
  width: 50px;
  padding: 5px 1px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #BBBBBB;
  color: #222222;
  background-color: #FFFFFF;
  text-align: right;
}
.cela_titol {
  padding: 5px 1px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  color: #ffffff;
  background-color: #999999;
  text-align: left;
}
.menu {
  color: #114499;
  background-color: #ffffff;
  text-decoration: none;
}
.menu_opcio {
  color: #114499;
  background-color: #ffffff;
  text-decoration: none;
}
.menu_opcio:hover {
  color: #1144ff;
  background-color: #EEEEEE;
  text-decoration: none;
}

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 16px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	/* width: 60px; */
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #2875DE; /* #EAEBD8; */
		color: #EEE;
		font: 14px arial}

	#sddm div a:hover
	{	background: #49A3FF;
		color: #FFF
       }


